:root{
    --main-font-color: rgba(204, 215, 216, 0.672);
    --main-background-color:rgb(50, 50, 50);
    --main-font: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    --project-width: 500px
}

body{
    background-color: var(--main-background-color);
}

.title{
    color: rgba(204, 215, 216, 0.893);
    font-family: var(--main-font);
    font-size: 50px;
}

.links{
    color: var(--main-background-color);
    font-size:30px;
    font-family: var(--main-font);
    margin-top: 20px;
}

.linksBox{
    background-color: var(--main-font-color);
    display: flex;
    width: 300px;
    padding-bottom: 40px;
    padding-top: 20px;
    padding-left: 20px;
    border-radius: 15px;
    flex-direction: column;
    margin-top: 50px;
}


#profileImage{
    top: 0px;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 300px;
}

#aboutSection{
    background-color: var(--main-font-color);
    display: flex;
    width: 600px;
    height: auto;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    border-radius: 15px;
    flex-direction: column;
    margin-top: 50px;
}

.aboutMeText{
    color: var(--main-background-color);
    font-family: var(--main-font);
    font-size: 24px;
}

#contactInfoBox{
    background-color: var(--main-font-color);
    display: flex;
    border-radius: 15px;
    padding-left: 15px;
    width: 500px;
    height: auto;
    padding-bottom: 7px;
}

#contactInfoBoxText{
    font-family:var(--main-font);
    font-size: 24px;
}

.project{
    background-color: rgb(87, 87, 87);
    width: var(--project-width);
    border-radius: 10px;
    margin-left: 50px;
    display: inline-block;
    vertical-align: top;
    text-align: justify;
}

.projectName{
    color: rgb(192, 230, 236);
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: var(--main-font);
}

.projectImage{
    width: var(--project-width);
    height: 300px;
}

.projectDescription{
    font-size: 22px;
    color: var(--main-font-color);
    font-family: var(--main-font);
}

.projectDescriptionSection{
    height: 150px;
}

